@charset "gb2312";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
#menu{
	margin:0px auto;
	width:980px;
	height:75px;
	background-color:#FFF;
}
#menu ul,li,img{
	float:left;
}
#menu ul{
	width:800px;
	height:75px;
	line-height:75px;
	text-align:center;
	list-style-type:none;
}
#menu ul li{
	width:160px;
	position:relative;
}
#menu ul li a{
	display:block;
	text-decoration:none;
	color:#000;
	font-weight:700;
	transition:border-top .5s; /*上边框过渡0.5s*/
}
#menu_sj{
	width:0px
	height:0px;
	margin-top:-15px;
	margin-right:70px;
	display:none;
	float:right;
}
#menu ul li:hover #menu_sj{
	display:block;
	border:solid 10px transparent;
	border-top:solid 10px #000;
}
#menu ul li a:hover,a:visited{
	border-top:solid #06F 3px;
	color:#06F;
}
#menu ul li ul{
	display:none;
	width:160px;
}
#menu ul li:hover ul,li{
	display:block;
	background-color:#FFF;
}