@charset "gb2312";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
#head_bg{
	background:url(../images/index_head.jpg) no-repeat center;
	clear:both;
	height:270px;
	width:100%;
	text-align:center;
	padding-top:80px;
	color:#FFF;
}
#head_bg h1{
	font-size:80px;
	margin-bottom:30px;
}
#main{
	width:100%;
	padding:80px 0px;
	background-color:#CCC;
}
#main p{
	margin:0px auto;
	width:980px;
	font-size:20px;
	line-height:150%;
}
#main p span{
	font-size:40px;
	color:#777;
	line-height:100%;
}
#foot{
	width:980px;
	margin:0px auto;
	padding-top:50px;
}
#foot .foot_p{
	background:url(../images/chi.jpg) no-repeat top center;
	float:left;
	width:210px;
	padding-top:160px;
	text-decoration:none;
	color:#000;
	margin-left:87px;
	line-height:120%;
}
.foot_p img{
	margin-bottom:20px;
}
.foot_p strong{
	display:block;
	margin-bottom:10px;
}
.foot_p a{
	text-decoration:none;
	color:#06F;
	display:block;
	border:#06F solid 1px;
	width:90px;
	height:30px;
	line-height:30px;
	text-align:center;
	margin:20px 0px;
}
.foot_p a:hover{
	background-color:#06F;
	color:#FFF;
}