@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?131y8i');
  src:  url('../fonts/icomoon.eot?131y8i#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?131y8i') format('truetype'),
    url('../fonts/icomoon.woff?131y8i') format('woff'),
    url('../fonts/icomoon.svg?131y8i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
#wrap{
	width:100%;
	background-color:#EEE;
}
#head{
	background-color:#FFF;
}
#main{
	clear:both;
}
#main{
	background-color:#FFF;
	width:980px;
	margin:0px auto;
	padding-top:20px;
	padding-bottom:30px;
}
.title{
	font-size:20px;
	font-weight:700;
}
#main p{
	display:block;
	width:800px;
	margin:0px auto 20px auto;
}
#main img{
	float:none;
	display:block;
	margin:0px auto 10px auto;
}
#cryptic{
	display:none;
}
#button1{
	display:none;
}
#button,#button1{
	margin-left:400px;
}
#main button{
	background-color:#FFF;
	color:#06F;
	width:100px;
	height:40px;
	border:solid 1px #06F;
}
#main button:hover{
	background-color:#06F;
	color:#FFF;
	width:100px;
	height:40px;
	border:solid 1px #06F;
}
#foot{
	clear:both;
	width:100%;
	text-align:center;
	height:60px;
	line-height:60px;
	background-color:#333;
}
#foot p{
	color:#FFF;
}
#gototop{
	position:fixed;
	bottom:60px;
	margin-left:50px;
	width:50px;
	height:50px;
	background-color:#CCC;
	border-radius:5px;
}
#gototop p{
	font-family: 'icomoon';
	font-size:50px;
	color:#000;
}