<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maxminscale=1.0">
  <title>Title</title>
  <script src="./js/useData.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./styles/base.css">
  <link rel="stylesheet" type="text/css" href="./styles/index.css">
</head>

<body>
  <div id="app">
    <div class="leftside">
      <div class="shapes">
        <img src="./方糖形状参照表.png" alt="">
      </div>

      <div class="counts">
        <div class="input" v-for="(item,index) in shapes" :key="index">
          <label>{{item.name}}:</label>
          <span @click="decrease(item)">-</span>
          <div style="margin: 0 10px;">{{item.count}}</div>
          <span @click="increase(item)">+</span>
        </div>
      </div>
    </div>



    <div class="rightside">
      <span>当前已选择方糖匹配的方案数量：{{possibleNum}}</span>
      <br>
      <button @click="show">
        show
      </button>
      <button @click="showPossibleArr = false" style="margin: 30px;">
        close
      </button>

      <ul v-show="showPossibleArr">
        <li v-for="(item,index) in interimArr" :key="'s'+index">
          {{item.toString()}}
        </li>
      </ul>
    </div>
  </div>
</body>

<script>
  new Vue({
    el: '#app',
    data() {
      return {
        shapes: [],
        possibleArr: [],
        showPossibleArr: false,
        interimArr:[]
      }
    },
    beforeMount() {
      // 初始化
      for (let i = 1; i <= 19; i++) {
        this.shapes.push({ name: `形状${i}`, count: 0, desc: i + '' })
      }
    },
    methods: {
      show(){
        if(this.possibleArr.length > 10000) return;
        this.showPossibleArr = true;
        this.interimArr = this.possibleArr;
      },
      filterUseData: _.debounce(function() {
        let interimArr = [];
        this.shapes.forEach(shape => {
          if (shape.count > 0) {
            interimArr = interimArr.concat(useData.filter(item => this.arrIncludeElementCount(item, shape.desc) >= shape.count))
          }
        })
        this.possibleArr = interimArr;
      },600),
      increase(shape) {
        if (this.selectedShapesNum() >= 9) {
          return
        } else {
          shape.count++;
        }
      },
      decrease(shape) {
        if (this.selectedShapesNum() <= 0) {
          return
        } else if(shape.count > 0) {
          shape.count--;
        }
      },
      // 当前已选择的形状数量
      selectedShapesNum() {
        let i = 0;
        this.shapes.forEach(item => {
          i = i + item.count;
        });
        return i;
      },
      arrIncludeElementCount(arr, element) {
        let count = 0;
        arr.forEach(item => {
          if (item == element) count++;
        });
        return count;
      }
    },
    watch: {
      shapes: {
        deep: true,
        immediate: false,
        handler() {
          if (this.selectedShapesNum() > 0) {
            this.filterUseData();
          } else {
            this.possibleArr = [];
          }
        }
      }
    },
    computed: {
      possibleNum() {
        return this.possibleArr.length;
      }
    }
  })
</script>

</html>